.product-section{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 50px;
    margin-top: 30px;
}
.products{
    display: grid;
    grid-template-columns: repeat(4,0fr);
    gap: 40px;
    width: 900px;
}
.product{
    border-radius: 5px;
    width: 200px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 15px;
}
.product:hover{
   box-shadow: 1px 1px 5px rgb(83, 82, 82);
   transform: scale(1.1); 
}
#product-img{
    width: 150px;
    height: 150px;
}
#p-h2{
    width: 150px;
    height: 50px;
    overflow: hidden;
    margin-top: 10px;
}
#p-h3{
    margin-top: 10px;
    margin-bottom: 10px;
}
#cart-btn{
    width: 170px;

}
#loading-img{
    margin-left: 450px;
    margin-top: 150px;
    margin-bottom: 150px;
}
#nodata {
    width: 700px;
    padding-bottom: 100px;
    padding-left: 20px;
    margin-bottom: 200px;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.filters{
    display: none;
}


@media (max-width: 720px){
    .product-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 50px;
    margin-top: 30px;
    }

    .products{
    display: grid;
    grid-template-columns: repeat(2,0fr);
    gap: 10px;
    margin-left: 20px;
    }
    .product{
    border-radius: 5px;
    width: 170px;
    height: 250px;
    padding-left: 15px;
    }
    .product:hover{
    transform: scale(1.0); 
    }
    #product-img{
    width: 100px;
    height: 100px;
    }
    #p-h2{
    width: 150px;
    height: 50px;
    overflow: hidden;
    margin-top: 10px;
    }
    #p-h3{
    margin-top: 10px;
    margin-bottom: 10px;
    }
    #cart-btn{
    width: 100px;
    height: 25px;
    }
    #nodata {
        display: none;

    }
    .filters{
    display: flex;
    gap:200px;
    margin-left: 20px;
    border: 1px solid black;
    border-radius: 20px ;
    padding: 3px;
    padding-left: 5px;
    width: 350px;
    }

    .mobile-filtersection {
    display: none;
    }

    .mobile-filtersection.active {
    display: block;
    }

}