.contact{
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.308);
    margin: 0 auto;
    margin-top: 50px;
    width: 800px;
    height: 500px;
    background-color: rgba(243, 230, 206, 0.37);
    border-radius: 10px;
}
.contact span{
    color: red;
}
.contener{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
.contact h1{
    margin-top: 50px;
    margin-bottom: 20px;
}
.contact-left{
    width: 400px;
    margin-bottom: 150px;
}
.address{
    margin-top: 20px;
}
.contener p{
    line-height: 20px;
}
.contact-right{
    display: flex;
    flex-direction: column;
    width: 300px;
    margin-right: 10px;
    gap: 10px;
}
#name-input{
    padding-left: 10px;
    padding-top: 3px;
    height: 30px;
    border-radius: 5px;
    outline: none;
    border: 1px solid  rgba(0, 0, 0, 0.568);
}
#email-input{
    padding-left: 10px;
    padding-top: 3px;
    height: 30px;
    border-radius: 5px;
    outline: none;
    border: 1px solid rgba(0, 0, 0, 0.568);
}
#message-input{
    height: 100px;
    padding-top: 3px;
    padding-left: 10px;
    border-radius: 5px;
    outline: none;
    border: 1px solid rgba(0, 0, 0, 0.568);
}
.contact-right button{
    width: 300px;
    border-radius: 5px;
}


@media (max-width: 720px){
    .contact{
    display: flex;
    width: 370px;
    height: 650px;
    }
    .contener{
    display: flex;
    flex-direction: column;
    gap: 0px;
    }
    .contact h1{
    margin-top: 50px;
    font-size: 27px;
    }
    .contact-left{
    width: 370px;
    margin-bottom: 50px;
    margin-left: 10px;
    }
    .contact-right button{
    width: 300px;
    border-radius: 5px;
    margin-top: 10px;
    }

}