.features-wrapper {
  background-color: #f3f4f6; 
  padding: 2rem 1rem;
}

.features-container {
  max-width: 1100px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
}

.feature-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.feature-icon {
  margin-bottom: 0.5rem;
  font-size: 2.25rem;
}

.feature-title {
  font-weight: 500;
  color: #1f2937;
}

.feature-subtext {
  font-size: 0.875rem;
  color: #6b7280; 
}


@media (max-width: 720px){
  .features-container {
  max-width: 1100px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  
  }
}
