.filter{
    position: sticky;
    top: 50px;
    bottom: 50px;
    width: 220px;
    height: 530px;
    margin-top: 20px;
    background-color: rgba(61, 54, 54, 0.082);
    border-radius: 10px;
    
}
#filter-input{
    margin-top: 20px;
    width: 200px;
    height:30px;
    margin-left: 10px;
    border-radius: 5px;
    outline: none;
    border: 1px solid black;
    padding-left: 10px;
}
#f-h4{
    margin-top: 15px;
    margin-left: 12px;
}
.f-cat{
    display: flex;
    margin-left: 10px;
    margin-top: 10px;
    gap: 10px;
}
#f-btn{
    background-color: rgba(61, 54, 54, 0);
    color: black;
    text-transform: uppercase;
    width: 200px;
    line-height: 30px;
    text-align: start;
}
.pricing-range{
    margin-top: 50px;
}
.range{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-top: 20px;
}
#lable{
    font-size: 15px;
    font-size: bold;
    margin-bottom: 5px;
}
#R-input{
    width: 200px;
}
#reset-btn{
    width: 100px;
    height: 30px;
    margin-top: 30px;
    margin-left: 10px;
}

@media (max-width: 720px){
    .filter{
    position: sticky;
    width: 350px;
    margin-left: 20px;
    }
    #filter-input{
    width: 330px;
    height: 40px;
    }
}