.navbar{
  display: grid;
  flex-direction: row;
  justify-content: center;
  grid-template-columns: repeat(2,0.36fr);
  align-items: center;
  background-color: white;
  box-shadow: 0px 1px 10px black;
  height: 50px;
}
.logo a{
    text-decoration: none;
    color: black;
}
.logo a span{
    color: red;
}
.menu-list{
    display: flex;
    flex-direction: row;
    gap: 30px;
}
#list{
    display: flex;
    flex-direction: row;
    gap: 20px;
    list-style: none;
    color: black;
}
#list a{
    color: black;
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
    position: relative;
    transition: all 0.5s ease;
}
#list a.active {
  color: #000000;
}
#list a.active::after {
  content: "";
  position: absolute;
  bottom: 0;       
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #ff4d00;
  border-radius: 2px;
  transition: width 0.3s ease;
}
#cart {
  text-decoration: none;
  color: black; 
  font-size: 25px; 
  position: relative; 
  margin-top: 8px;
}
#cart span {
  position: absolute;
  top: -8px;
  right: -10px;
  background-color: red;
  color: white;
  font-size: 12px;
  border-radius: 50%;
  padding: 2px 5px;
}

#menu-icon{
  display: none;
  font-size: 35px;
}

/* mobile menu  */

.moblie{
background-color:white;
color: red;
width: 100vw;
position:fixed;
z-index: 999;
top: 50px;
left: 0;
bottom: 0;
display: none;

}
#mobile-menu{
  margin-top: 5px;
  margin-left: 10px
}
#mobile-menu a{
  color: #000000;
  text-decoration: none;
  line-height: 25px;
}


@media (max-width: 720px) {
  .navbar{
    gap: 200px;
  }
  .menu-list{
    gap: 15px;
  }
  #menu-icon{
    display: block;
  }
  #list{
    display: none;
  }
  .profile{
    display:none;
  }
  
}


