*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family:  sans-serif;
}

input{
  accent-color: red;
}

button{
  background-color: red;
  color: white;
  border: none;
  border-radius: 4px;
  width: 70px;
  height: 30px;
  cursor: pointer;
}