.midbanner-wrapper {
  background-color: #f3f4f6; 
  padding-top: 7rem;
}

.midbanner-container {
  max-width: 1000px;
  margin: 0 auto;
  border-radius: 1rem;
  height: 550px;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.midbanner-overlay {
  background-color: rgba(0, 0, 0, 0.5);
  height: 100%;
  border-radius: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.midbanner-content {
  text-align: center;
  color: white;
  padding: 1rem;
}

.midbanner-content h1 {
  font-size: 35px;
  margin-bottom: 1rem;
}
.midbanner-content p{
    font-size: 20px;
}
.midbanner-content button {
  cursor: pointer;
  margin-top: 15px;
}
