.carousal{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-color:rgb(247, 244, 244);
    height: 500px;
}
.left{
    width: 500px;
}
#h3{
    font-size: 20px;
    color: rgba(167, 15, 15, 0.774);
    padding-bottom: 10px;
}
#h1{
    height: 80px;
    overflow: hidden;
    margin-bottom: 10px;
}
#desc{
    height: 50px;
    overflow: hidden;
}
#shop-btn{
    margin-top: 20px;
}
.right {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    box-shadow: 0px 5px 15px black;
}
.right:hover{
    transform: scale(1.1);
}
#right-img{
    width: 170px;
    height: 170px;
    margin-left:70px;
    margin-top:50px;
}


@media (max-width: 720px){
    .carousal{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 50px;
        height: 680px;
    }
    .left{
    width: 300px;
    text-align: center;
    margin-top: 20px;
    }
    #shop-btn{
    margin-top: 50px;
    }
    .right {
    width: 300px;
    height: 300px;
    margin-bottom: 50px;
    }
    #right-img{
    width: 150px;
    height: 150px;
    margin-left:70px;
    margin-top:60px;
    }
}